$primary-lighter: #FFD5B3;
$primary-light: #FF9D4D;
$primary: #FF7300;
$primary-dark: #FF6000;
$primary-darker: #FF4300;

$secondary-lighter: #BFE0EE;
$secondary-light: #69B6D6;
$secondary: #2996C5;
$secondary-dark: #1F83B8;
$secondary-darker: #0F68A3;

$black: #000000;
$white: #ffffff;
$gray: #ccc;

$color-error: #db341a;
$color-error-border: #ff745e;

// ***********
// PADDING, MARGIN AND RADIUS
// ***********
$size-xs: 2px;
$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 32px;

// ***********
// FONT
// ***********
$font-xs: 8px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 20px;
$font-subtitle: 24px;
$font-title: 32px;

// ***********
// SCREEN SIZES
// ***********
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
